includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    phpVersion: 80100
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - stubs/wp-cli.stub
    paths:
        - ehrman-blog-discovery.php
        - uninstall.php
        - src
    excludePaths:
        analyse:
            - vendor
    ignoreErrors:
        -
            identifier: argument.type
            message: '#^Parameter \#1 \$query of method wpdb::prepare\(\) expects literal-string, non-falsy-string given\.$#'
            paths:
                - src/Browse/Browse_Service.php
                - src/Import/Import_Database_Writer.php
                - src/Import/Parity_Service.php
                - src/KeywordSearch/Search_Service.php
                - src/KeywordSearch/Search_Suggestion_Service.php
                - src/AskAI/Semantic_Index_Service.php
                - src/AskAI/Semantic_Search_Service.php
